.layout {
  justify-self: center !important;
  background-color: transparent;
  width: 100%;

  position: relative;
}

.footer {
  background-color: white;
  border-top: 1px solid #eee;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  justify-self: center;
  max-width: 600px;
}

.icon {
  font-size: 24px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
/*  .selected가 있을 때 스타일 적용 */
:global(.selected) {
  color: #4096ff;
  h5 {
    color: #4096ff;
  }
}
