.layout {
  justify-self: center !important;
  background-color: transparent;
  width: 70%;
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  max-width: 600px;
}
.header {
  padding: 0;
  background-color: transparent;
  text-align: center;
}

.ad_contaier {
  margin: 0;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  max-height: 350px;
  color: black;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}
.ad {
  justify-self: center;
  object-fit: cover;
  height: 90%;
  width: 100%;
  max-width: fit-content;
}

.item_info_container {
  align-items: center !important;
}
.item_info {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
.footer {
  background-color: white;
  border-top: 1px solid #eee;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  justify-self: center;
  max-width: 600px;
}

.icon {
  font-size: 24px;
}
