.layout {
  --detail-footer-height: 50px;

  max-width: 600px;
  justify-self: center !important;
  width: 100%;
  height: calc(100% - var(--detail-footer-height));
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.footer {
  position: fixed;
  width: 600px;
  height: var(--detail-footer-height);
  bottom: 0;
  left: 0;
  right: 0;
  justify-self: center;
  padding: 0px !important;
  background-color: white;
  align-items: center !important;
  button {
    color: white;
    background-color: black;
    font-weight: 700;
  }
}

.tab {
  & :global(.ant-tabs-nav-list) {
    width: 100%;
  }
  & :global(.ant-tabs-tab) {
    flex: 1 !important;
    text-align: center;
    width: 100%;

    & :global(.ant-tabs-tab-btn) {
      flex: 1;
    }
  }
}

.drawer {
  height: 80vh;
  width: 600px;
  justify-self: center;
  background-color: white;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: -100%;
  padding: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;

  transition: bottom 0.3s ease-in-out;
  & :global(.ant-select) {
    width: 100% !important;
    height: 50px;
  }
  .drawer_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px 8px 15px 8px;

    button {
      height: 50px;
      font-weight: 700;
    }
  }
}
.drawer.open {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.select_drawer_button {
  width: 100%;
  font-size: large;
  font-weight: 700;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select_product_container {
  border: 1px solid #eee;
  height: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 18px;
  height: fit-content;
  margin: 10px 0;
}

.review_layout {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
