.menu_container {
  flex-flow: row nowrap;
  cursor: pointer;
  &:active {
    & {
      background-color: aliceblue;
    }
    .icon {
      background-color: aliceblue;
    }
  }

  div {
    padding: 20px;
  }
}
.items_container {
  border-radius: 10px;
  border: 1px solid #cccccc;
  width: 100%;
  padding: 1.5rem 1rem;
  margin-top: 0.7rem;
  justify-content: space-evenly;

  div {
    align-items: center;

    & span:first-child {
      font-size: 24px;
    }
    p:nth-child(2) {
      margin: 0.8rem 0 0.4rem;
      color: gray;
    }
    p:nth-child(3) {
      font-weight: 600;
    }
  }
}

/* 포인트 */
.point_list_container {
  max-height: 10px !important;
  .point_item {
    height: 50px;
    width: 100%;
    p:first-child {
      width: 10%;
      font-size: large;
      color: gray;
    }
    div {
      width: 70%;
      p {
        width: 100% !important;
      }
      p:first-child {
        font-size: larger;
        font-weight: 700;
        color: black;
      }
      p:nth-child(2) {
        color: gray;
        font-weight: 500;
      }
    }
    p:last-child {
      width: 20%;
      font-size: larger;
      font-weight: 700;
    }
  }
}
/* 리뷰 */
.review_layout {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.review_textArea {
  resize: none;
  padding: 0.3rem;
  width: 100%;
  height: 100%;
  max-height: 125px;
  min-height: 100px;
  border: 1px solid #e0e0e0;

  &:focus-visible {
    outline: none;
    border: 1px solid black;
  }
}

.review_photo_container {
  width: 100%;
  height: 150px;
  align-items: center;
  margin: 0.3rem 0;
  gap: 0.4rem;
}
.review_photo_item {
  width: 120px;
  height: 100%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  align-content: center;
  p {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
  }
}
.review_photo_add {
  width: 120px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  input {
    display: none;
  }
}
.review_upload_btn {
  width: 100%;
  padding: 1.5rem;
}
