.layout {
  width: 100% !important;
  height: 100vh;
  max-width: none !important; /* 관리자 페이지는 최대 너비 제한 해제 */
  :global(body) {
    max-width: none !important;
  }
}
.sider {
  height: 100%;
  background-color: white;
}
@media (max-width: 1200px) {
  .sider {
    min-width: 50px !important;
    max-width: 50px !important;
    & :global(.ant-menu-item) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    & :global(.ant-menu-title-content) {
      content-visibility: hidden;
    }
    & :global(.ant-menu) {
      border-inline-end: 0;
    }
  }
  .sider_menu_container {
    width: 100%;
    place-self: center;

    & :global(.ant-menu-item) {
      justify-content: center;
      & :global(.ant-menu-title-content) {
        display: none;
      }
    }
  }
}
.sider_info_container {
  height: 30%;
  border-bottom: 1.5px solid #ccc;
  text-align: center;
  place-items: center;

  justify-self: center;
  margin: auto;

  .admin_nickname {
    font-weight: 700;
  }
  @media (max-width: 1200px) {
    .admin_nickname {
      display: none;
    }
  }
}
