.layout {
  max-width: 600px;
  justify-self: center !important;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: contain !important;
  height: 300px !important;
  cursor: pointer;
}
.row {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}
