.layout_except_footer {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  padding: 0;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
}

.ad_contaier {
  margin: 0;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  max-height: 350px;
  color: black;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}
.ad {
  justify-self: center;
  object-fit: cover;
  height: 90%;
  width: 100%;
  max-width: fit-content;
}

.item_info_container {
  align-items: center !important;
}
.item_info {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  margin: 1rem 0;
}

.header_right {
  .shop_icon {
    font-size: 24px !important;
  }
}
