.payment_container {
  position: relative;
  height: 100%;
}
.menu_container {
  h4 {
    margin: 0 !important;
  }
}
.item_container {
  background-color: #eee;
  padding: 15px;
  margin-top: 10px;
  padding: 15px !important;
  border-radius: 5px;
  color: gray;
}
.button_container {
  gap: 0.2rem;
  margin-top: 1rem;
  flex-wrap: nowrap;
}

.button {
  width: 100%;
  padding: 1.3rem 0 !important;
  background-color: white !important; /* 기본 상태 */
  color: black !important;
}

.button.clicked {
  background-color: #56667d !important;
  color: white !important;
}

.bottom_container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: white;
  max-height: 80px;
  height: 100%;

  button {
    width: 100%;
    color: white;
    background-color: rgb(250, 108, 108);
    padding: 20px;
    font-weight: 600;
  }
}

.product_item {
  margin: 1.2rem 0;
  &::selection {
    background-color: transparent;
  }
}
